<div style="height:100%; width:100%;">
	
    <div class="label label-success leftItem">{{displayName}}</div>
    <img class="leftItem" src={{avatarImageUrl}} alt="HTML5 Icon" width="50" height="50">
    <div class="label label-danger rightItem">{{(displayName2 ? displayName2 : "Waiting for an opponent...")}}</div>
    <img class="rightItem" src={{avatarImageUrl2}} alt="HTML5 Icon" width="50" height="50">
    <br /><br /><br />
    <div class="label label-info">{{getStatus()}}</div>
    <textarea ng-show="false" ng-model="thePlayer" rows=10 cols=20 readonly></textarea>
    <textarea ng-show="false" ng-model="theGame" rows=10 cols=20 readonly></textarea>
	  <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}"
      style="height:90%; width:100%; overflow: hidden;"
      scrolling="no" seamless="seamless"></iframe>
</div>
