table {
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 0px;
}
#container{
	position: relative;
}
#alertbox{
	position: absolute;
	left:300px;
	top: 100px;
	width: 600px;
	text-align:center;
	font-size: 60px;
	color: white;
	display: none;
	
}
tr{
	border: none;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
.cell {
  text-align:center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 30pt;
  width: 80px;
  height: 80px;
  border: none;
  margin: 0px;
  padding: 0px;
}
.stone{
	width:79px;
	height:79px;
	display: block;
}
.dark {
  background-image: url(img/boardDark.png);
}
.light {
  background-image: url(img/boardLight.png);
}
