<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Gomoku</title>
  <meta name="description" content="Gomoku game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="components/angular/angular.js"></script>
  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="messageService.js"></script>
  <script src="scaleBodyService.js"></script>
  <script>
  function startNewGame(){
  location.reload();
  };
  </script>
  <!-- for local testing purposes ! -->
  <script src="http://yoav-zibin.github.io/emulator/platform.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="Ctrl">
	<div id="container">
  <table>
    <tr ng-repeat="row in board track by $index">
      <td ng-repeat="cell in row track by $index"
        ng-class="{cell: true, dark: (($index % 2 === 0 && $parent.$index % 2 ===0) || ($index % 2 !== 0 && $parent.$index % 2 !==0)), light: (($index % 2 !== 0 && $parent.$index % 2 ===0) || ($index % 2 === 0 && $parent.$index % 2 !==0))}"
        ng-click="cellClicked($parent.$index, $index)">
        <img class = "stone" ng-src ="{{placeDot(cell)}}"/>
      </td>
    </tr>
  </table>
  <div id="alertbox">
  	<p id="gamemsg"></p>
  	<button onclick="startNewGame()" style="width:200px; height:40px; font-size: 20px">Start New Game</button>
  </div>
  </div>
</body>
</html>
